<nav class="nav-container">
  <h3 class="controller-name"><%= controller_name.capitalize %></h3>
</nav>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'sign-up') do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "name" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %>
  </div>

  <div class="field">
    <% if @minimum_password_length %>
    <!--
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    -->
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Repeat password (6 characters minimum)" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'button' %>
  </div>
<% end %>

<div class="links">
  <%= render "devise/shared/links" %>
</div>
