<%= form_with(model: recipe) do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "Recipe Name", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <% hours = recipe.prep_time.nil? ? 0 : recipe.prep_time.to_i / 3600 %>
    <% minutes = recipe.prep_time.nil? ? 0 : recipe.prep_time.to_i % 3600 %>
    <%= form.label :prep_time, "Preparation Time", style: "display: block" %>
    <%= form.time_select :pp_time, {selected: Time.new(2000, 1, 1, hours, minutes)} %>
  </div>

  <div>
    <% hours = recipe.cook_time.nil? ? 0 : recipe.cook_time / 3600 %>
    <% minutes = recipe.cook_time.nil? ? 0 : recipe.cook_time % 3600 %>
    <%= form.label :cook_time, "Cooking Time", style: "display: block" %>
    <%= form.time_select :ck_time, {selected: Time.new(2000, 1, 1, hours, minutes)} %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :public, style: "display: block" %>
    <%= form.check_box :public %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
