<div id="<%= dom_id recipe %>">
  <% if recipe_display == 'public' %>
    <p>
      <strong>Name:</strong>
      <%= recipe.name %>
    </p>

    <p>
      <strong>Prep time:</strong>
      <%= recipe.prep_time.inspect %>
    </p>

    <p>
      <strong>Cook time:</strong>
      <%= recipe.cook_time.inspect %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= recipe.description %>
    </p>

    <p>
      <strong>Public:</strong>
      <%= recipe.public %>
    </p>
  <% elsif recipe_display == 'user_owned' %>
    <p>
      <%= "Recipe #{recipe.id}" %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= recipe.description %>
    </p>

    <% if can? :destroy, recipe %>
      <%= button_to "remove", recipe_path(recipe.id), method: :delete, data: { turbo_confirm: "Are you sure?" }  %>
    <% end %>
  <% else %>
    <p>
      <strong>Name:</strong>
      <%= recipe.name %>
    </p>

    <p>
      <strong>Prep time:</strong>
      <%= recipe.prep_time.inspect %>
    </p>

    <p>
      <strong>Cook time:</strong>
      <%= recipe.cook_time.inspect %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= recipe.description %>
    </p>

    <p>
      <strong>Public:</strong>
      <%= recipe.public %>
    </p>
  <% end %>
  <p>
    <%= link_to "Show this recipe", recipe %>
  </p>
</div>
