<div class="container">
  <p style="color: green"><%= notice %></p>
  <%= render partial: "recipe", locals: {recipe_display: 'details', recipe: @recipe} %>
  <div>
    <div class="btn__container">
      <%= link_to "Edit this recipe", edit_recipe_path(@recipe) ,class:"btn btn--danger" %>
      <%= link_to "Back to recipes", recipes_path , class:"btn" %>
      <div>
        <input type="checkbox" id="modal" class="custom_modal_checkbox">
        <label for="modal" class="btn btn-primary test">Generate</label>
        <label for="modal" class="modal-background"></label>
        <div class="modal">
          <h2 class="modal__title" id="modal-1-title">
            Generating Shopping List
          </h2>
          <main class="modal__content container" id="modal-1-content">
            <p>
              Choose an inventory to use.
            </p>
            <%= form_with url: shopping_list_path, method: :get  do |form| %>
              <%= hidden_field(:recipe, :id, name: 'recipe_id') %>
              <div>
                <%= form.label :inventory_id, style: "display: block" %>
                <%= form.select :inventory_id, Inventory.all.map {|inventory| [inventory.name, inventory.id]} %>
              </div>
              <div>
                <%= form.submit "Generate", class:"btn btn--primary" %>
              </div>
            <% end %>
          </main>
        </div>
      </div>
      <%= button_to "Add ingredient", new_recipe_recipe_food_path(@recipe), class:"btn btn--success", method: :get %>
    </div>
    <table id = "ingredients">
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @recipe.recipe_foods.each do |recipe_food| %>
          <tr>
            <%= render "recipe_foods/recipe_food_record", recipe_food: recipe_food %>
            <td class="actions">
              <%= link_to "Modify", edit_recipe_recipe_food_path(@recipe, recipe_food) %>
              <%= link_to "Remove", recipe_recipe_food_path(@recipe, recipe_food), data: { turbo_method: :delete, turbo_confirm: "Are you  sure?"} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
