<%= form_with(model: group, class:'form-container') do |form| %>
  <% if group.errors.any? %>
    <div class="error">
      <h3><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h3>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "text-field" %>
  </div>

  <div>
    <%= form.label :icon, class: "label" %>
    <%= form.text_area :icon, class: "text-field" %>
  </div>

  <div>
    <%= form.submit "#{action_name == 'edit' ? 'Update' : 'Save'}", class: "submit-button" %>
  </div>
<% end %>
