<div class="group">
  <div>
    <%= link_to group do%><img src="<%= group.icon %>" class="group-icon" alt="Group-Icon"><%end%>
  </div>

  <div class="group-name">
    <%= link_to group do%><%= group.name %><%end%>
  </div>

  <p class="group-total-expenses">$
    <%= group.total_expenses %>
  </p>

</div>
