<p style="color: green"><%= notice %></p>


<div class="general-container">
  <div id="users">
    <%= render @user %>
    <% if can? :update, @user %>
      <%= link_to "Edit this user", edit_user_path(@user), class: 'show-user' %>
    <%end%>
  
    <% if can? :destroy, @user %>
      <%= button_to "Destroy this user", @user, method: :delete, class: 'delete-button' %>
    <% end %>

    <%= link_to "Back to users", users_path, class: 'new-user' %>

  <div>
</div>
