<section class = "general-container">
  <div class="notice"><%= notice %></div>

  <h1>Foods</h1>

  <%= link_to "Add food (new)", new_food_path, class: 'add-food-new' %>

  <table id = "foods">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <%= render food %>
          <td class="actions">
            <%= link_to "Delete", food_path(food), data: { turbo_method: :delete, turbo_confirm: "Are you  sure?"} %>
            <%= link_to "Edit this food", edit_food_path(food) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</section>
