<nav class="navbar container">
  <div class="navbar__wrapper">
    <div class="navbar__logo-container">
      <a href="/" class="navbar__logo-link">
        <%= image_tag("logo.svg", alt: "Logo", class: "navbar__logo") %>
      </a>
    </div>
    <ul class="navbar__list">
      <li class="navbar__item">
        <a href="<%= public_recipes_path %>" class="navbar__item-link">Public Recipes</a>
      </li>
      <% if user_signed_in? %>
        <li class="navbar__item">
          <a href="<%= inventories_path %>" class="navbar__item-link">Inventories</a>
          <div class="navbar__item-content">
            <ul>
              <li>
                <a href="<%= inventories_path %>" class="navbar__item-link">Your Inventories</a>
              </li>
              <li>
                <a href="<%= new_inventory_path %>" class="navbar__item-link">Add Inventory</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="navbar__item">
          <a href="<%= foods_path %>" class="navbar__item-link">Foods</a>
          <div class="navbar__item-content">
            <ul>
              <li>
                <a href="<%= foods_path %>" class="navbar__item-link">All Foods</a>
              </li>
              <li>
                <a href="<%= new_food_path %>" class="navbar__item-link">Add Food</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="navbar__item">
          <a href="<%= recipes_path %>" class="navbar__item-link">Recipes</a>
          <div class="navbar__item-content">
            <ul>
              <li>
                <a href="<%= recipes_path %>" class="navbar__item-link">Your Recipes</a>
              </li>
              <li>
                <a href="<%= new_recipe_path %>" class="navbar__item-link">Add Recipe</a>
              </li>
            </ul>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="navbar__auth">
      <% if user_signed_in? %>
        <p class="navbar__auth-message"> Wellcome! <%= current_user.name %></p>
        <%= button_to "Log out", destroy_user_session_path, method: :delete,  class: "btn btn-outline-danger" %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-outline-primary me-2" %>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
</nav>
